/* What we do section css  */
.what_we_do{
    height:650px;
    padding:50px 20px;
    background-color: #FFFFFF;
    text-align: center;
}

.what_we_do h1{
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.what_we_do p{
    margin-top :30px;
    line-height: 1.8;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
}
.icons {
    color: black;
    width: 100%;
    max-width: 1100px;
    height: auto; 
    margin: 50px auto ;
    margin-top: 100px;
    
    justify-content: space-between;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; 
    gap:30px;
 
}

.icon1, .icon2, .icon3, .icon4 {
    width: 240px;
    text-align: center;
    margin: 0; 
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    height: 180px; 
}

.icon1 img, .icon2 img, .icon3 img, .icon4 img {
    max-width: 100%;
    height: 100px; 
    object-fit: contain; 
    margin-bottom: 5px;
}

.icons p{
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: center;   
}
